[Desktop Entry]
Name=smoltGui
Name[tr]=Smolt Kullanıcı Arayüzü

GenericName[en]=Smolt hardware profiler
GenericName[tr]=Smolt donanım profilcisi

Comment=Smolt Graphical User Interface
Comment[en]=Smolt Graphical User Interface
Comment[tr]=Smolt Kullanıcı Grafik Arayüzü

Icon=smolt
Type=Application
Exec=smoltGui
Categories=Qt;Application;System;
